/* GLOBAL */

:root {
  --light-bg: #f0f8ff;
  --primary-100: #ffffff;
  --primary-200: #f0f8ff;
  --primary-700: #6495ed;
  --primary-1000: #244177;
  --alert-primary-200: #ffe6e6;
  --alert-primary-600: #ed5e5e;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--primary-1000);
}

a {
  text-decoration: none;
}

/* ELEMENTS */

HTML {
  background-color: var(--primary-200);
}

main {
  padding: 0px 15% 1.5rem 15%;
  margin-top: 1.5rem;
}

/* UTILITY */

.hidden {
  display: none;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-col-center > * {
  margin-bottom: 1rem;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  padding: 0.5rem 1rem;

  background-color: var(--primary-700);
  border: var(--primary-700) solid 3px;
  border-radius: 1rem;

  color: var(--primary-200);
  font-weight: 600;
  text-align: center;
}

.btn-primary:hover {
  background-color: var(--primary-200);
  color: var(--primary-700);
}

.btn-disabled {
  background-color: var(--alert-primary-600);
  border-color: var(--alert-primary-600);
  color: var(--alert-primary-200);
}

.btn-disabled:hover {
  background-color: var(--alert-primary-200);
  color: var(--alert-primary-600);
}

.textfield {
  background-color: var(--primary-100);
  border-radius: 2em;
}

.text-center {
  text-align: center;
}

/* CLASSES */

.header {
  padding: 1rem 15%+1.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-700);
}

.header > * {
  color: var(--primary-200);
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cart-btn {
  font-size: 24px;
  border-color: var(--primary-200);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 20vh auto;
  padding: 20px;
  min-width: 40%;
  max-width: 500px;
}

.order-ticket {
  padding: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.order-price {
  margin: 1rem 0px;
  padding-left: 2rem;
}

.detail-table {
  width: 100%;
  border-collapse: collapse;
}

.detail-table tr {
  border: 1px solid var(--primary-700);
}

.detail-table > tr:nth-child(odd) {
  background-color: var(--primary-200);
}

.detail-table > tr:nth-child(1) {
  background-color: var(--primary-700);
}

.detail-table th,
td {
  padding: 0px 0.5rem;
  text-align: start;
}

.detail-table th {
  color: var(--primary-200);
}

.remove-cart-btn {
  text-align: end;
}

.order-btns {
  display: flex;
  padding: 1rem 0px;
  justify-content: center;
}

.order-btns > a {
  margin: 0 1.5rem;
}

.shop {
  margin-top: 1.5rem;
  min-width: 80%;
}

.card {
  min-width: 100%;
}

.card-container {
  padding: 1.5rem 2rem;
  width: 100%;
  justify-content: space-between;
}

.card-info {
  width: 70%;
}

.card-info > * {
  margin-bottom: 0.5rem;
}

.card-actions {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card-actions > h5 {
  margin-top: 0.5rem;
}

/*




TESTING */

.tb1 {
  border: red dashed 2px;
}

.tb2 {
  border: green dashed 2px;
}
